html, body {
    margin: 0;
    padding: 0;
    background-color: #f5f7fc;
    font-family: "Inter", sans-serif;
    color: #0c1224;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main.app-content {
    flex: 1;
    background-color: #f5f7fc;
}
