.header-b,.header{
    display: flex;
    gap: 100px;
    justify-content: space-between;
    background-color: #D25353;
    color: white;
    height: 8vh;
    align-items: center;
    padding: 2vw;

    font-family: "Bebas Neue", sans-serif;
    font-weight: 600;
    font-size: 30px;
    font-style: normal;
    
}
.header-a{
    font-size:40px
}
.header-b{
    list-style:none;
}
.header-ab{
    font-size: 18px;
    padding-left: 5px;
}
.header-button{
    color: white;
    text-decoration: none;
}
